.form-wrapper {
  display: grid;
  margin: auto;
  width: clamp(120px, 90%, 1080px);
}

.instruction-tabs {
  display: flex;
  gap: var(--base-spacing);
}

.instruction-tabs button {
  background-color: gray;
}

.instruction-tabs .selected {
  background-color: var(--color-primary-light);
}

.message-section textarea {
  border-radius: .5rem;
  padding: .5rem;
  width: 100%;
}

.textarea-container {
  position: relative;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 7px);
  background-color: hsla(0, 0%, 0%, 0.5);
  border-radius: .5rem;
  z-index: 1;
}