/*--------------------------------------------------*/
/* Default React Styles ----------------------------*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*--------------------------------------------------*/
/* Fonts -------------------------------------------*/


/*--------------------------------------------------*/
/* Variables ---------------------------------------*/

:root {
  --base-spacing: 1rem;
  --color-primary: hsl(18, 84%, 48%);
  --color-primary-dark: hsl(18, 84%, 32%);
  --color-primary-light :hsl(18, 84%, 64%);
}

/*--------------------------------------------------*/
/* Default Classes ---------------------------------*/

body {
  background-color: hsl(0, 0%, 25%);
  color: white;
  line-height: 1.5;
  margin: var(--base-spacing);
}

button {
  background-color: var(--color-primary);
  border-color: var(--color-primary-dark);
  border-radius: .5rem;
  border-style: solid;
  color: white;
  cursor: pointer;
  padding: .5rem;
}

/*--------------------------------------------------*/
/* Global Styles -----------------------------------*/

* {
  box-sizing: border-box;
  resize: none;
}

.space-above {
  padding-top: calc(var(--base-spacing) * 2);
}

.space-below {
  padding-bottom: calc(var(--base-spacing) * 2);
}